DATABASE_URL="postgres://[usuario]:[senha]@[host]:[porta]/[nome_do_banco]"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

NEXT_PUBLIC_API_URL=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""
